
<div id="board">

  <div class="cell">X</div> 
  <div class="cell"></div> 
  <div class="cell"></div> 
  <div class="cell"></div> 
  <div class="cell"></div> 
  <div class="cell">O</div> 
  <div class="cell"></div> 
  <div class="cell"></div> 
  <div class="cell"></div> 

</div>
