
<div id="board">

  <div class="cell" id="1">X</div> 
  <div class="cell" id="2"></div> 
  <div class="cell" id="3"></div> 
  <div class="cell" id="4"></div> 
  <div class="cell" id="5"></div> 
  <div class="cell" id="6">O</div> 
  <div class="cell" id="7"></div> 
  <div class="cell" id="8"></div> 
  <div class="cell" id="9"></div> 

</div>
