<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/board.css">
  <link href='http://fonts.googleapis.com/css?family=Orienta&effect=fire-animation' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">Slick Track Bro</a></div>

    <ul>
      <% if current_user %>
      <li><a id="new-game" href="/games/new">New Game!</a></li>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>" method="delete">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
